@font-face{
    font-family: agenzada;
    src: url(../fonts/Agenzada.otf);   
}
@font-face{
    font-family: babyPumpkin;
    src: url(../fonts/Baby\ Pumpkin.ttf);   
}

body{
    padding:0;
    margin:0;
    font-family: agenzada;
}

h1{
    font-family: babyPumpkin;
}
a{
    border:2px solid white;
    background-color: 5448C8;
    padding: 5px;
    border-radius: 5px;
    color:white;
    /* font-size: 3em; */
    text-align: center;
    font-family: babyPumpkin;
}
a:hover{
    background-color: 333333;
    border-color: FF9B42;
}
.section{
    width:100%;
    height:100vh;
    position:relative;
}
#splash{
    background-color: FF9B42;
}
#splashImage{
    float:right;
    margin-top: 5%;
    width:30%;
    height:80%;
    margin-right:15%;
}
.panel{
    background-color: 70161E;
    width:30%;
    height:80%;
    margin: 5%;
    border-radius: 50px;
}
#mainTitle{
    float:left;
    margin-left:15%;
}
#mainTitle h1{
    font-size: 10em;
    line-height:.9em;
    margin:auto;
    margin-left: 10%;
    margin-top: 10%;
    color:#FFFFFF;
}
p{
    font-size: 2em;
    margin:auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    color:#FFFFFF;
}
#about{
    background-color: 5448C8;
}
.card{
    width:30%;
    margin:5%;
    float:left;
    border-radius: 50px;;
}
#schoolCard{
    background-color: FF9B42;
}
#skillsCard{
    background-color: C6D8AF;
}
#projects{
    background-color: C6D8AF;
}
#contact{
    background-color: 70161E;
}
#navigationMenu{
    position: fixed;
    width:11%;
    height:29%;
    right:0;
    top:-30%;
    background-color: tomato;
    border-bottom-left-radius: 10px;
    border-bottom:3px solid white;
    border-left:3px solid white;
}
#navigationMenu ul{
    margin-top: 0;
    list-style: none;
}
#navigationMenu li button{
    margin-top: .3em;
    font-size: 2em;
    text-align: center;
    margin-right:auto;
    font-family: babypumpkin;
    border:2px solid white;
    background-color: 5448C8;
    padding: 2px;
    border-radius: 5px;
    color:white;
}
#navigationMenu li button:hover{
    background-color: 333333;
    border-color: FF9B42;
}
#navLabel{
    position: absolute;
    top:100%;
    right:0%;

}
#menuButton{
    height:2em;
    font-family: babypumpkin;
    color:white;
    font-size:2em;
    background-color: tomato;
    border:none;
    border-bottom-left-radius: 10px;
    border-bottom:3px solid white;
    border-left:3px solid white;
}
#menuButton:hover{
    background-color: 333333;
    color: FF9B42;
}
.sectionJumpLabel{
    position:absolute;
    bottom:0;
    left:45%;
}
.sectionJump{
    text-align:center;
    height:2em;
    font-family: babypumpkin;
    color:white;
    font-size:2em;
    background-color: tomato;
    border:none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border:3px solid white;
    border-bottom:none;
}
.sectionJump:hover{
    background-color: 333333;
    color: FF9B42;
}